### 공백 추가
- 다음과 같은 6개의 문자로 이루어진 "PYTHON"이라는 문자열이 있다
- 이 "PYTHON"이라는 문자열 앞에 공백 24개를 추가하여 다음과 같은 형태의 30자리의 문자열로 만드시오.

In [2]:
str = "PYTHON"
print("%30s"%str)

                        PYTHON

### 2. 문자열 인덱싱
- 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
- pin = "881120-1068234"

In [5]:
pin = "881120-1068234"
sex = pin.split('-')[1][0]  ##뒷자리 받아온 후 첫번째 인덱스
print(sex)

1

### 3. 문자열 변경
- 1980M1120 -> M19801120

In [13]:
input = "1980M1120"
a = input[:4]
b = input[4:5]
c = input[5:]
print(a +"//"+ b +"//"+ c)

output = b + a + c
print("output: " + output)

1980//M//1120
output: M19801120

### 4. 문자열 포맷
- 문자열의 포맷코드 기능을 이용하여 "PYTHON"이라는 문자열 앞에 공백 24개를 추가하여 다음과 같은 형태의 30자리의 문자열로 만드시오.

In [21]:
input = "PYTHON"
#1
print("%30s" % input)

#2
"{0:>30}".format(input)

                        PYTHON

'                        PYTHON'

### 4. 문자열 찾기
- 다음의 문자열에서 "short"라는 문자열이 시작되는 인덱스를 구하시오.
- Life is too short, you need python

In [23]:
str = "Life is too short, you need python"
str.find('short')

12

### 5. 문자열 바꾸기1
- a:b:c:d -> a#b#c#d using replace

In [24]:
str = "a:b:c:d"
str.replace(':',"#")

'a#b#c#d'

### 6. 문자열 바꾸기2
- a:b:c:d -> a#b#c#d using split & join

In [32]:
str = "a:b:c:d"
s = str.split(":")
print("split str: %s" % s)

separator = "#"
separator.join(s)

split str: ['a', 'b', 'c', 'd']

'a#b#c#d'