### 1. 숫자 3만을 요소값으로 가지는 튜플을 작성하라.

In [7]:
a = 3, 3, 3
print(type(a))

b = (3, 3, 3)
print(type(b))

<class 'tuple'>
<class 'tuple'>

### 2. (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

In [6]:
t = (1, 2, 3)
add = 4, ## 그냥 4 혹은 (4) 라고 하면 error 남 : can only concatenate  tuple to tuple

result = t + add
print(result)
print(type(result))

(1, 2, 3, 4)
<class 'tuple'>

### 3. 딕셔너리 만들기

In [11]:
dic = {"name":"홍길동", "birth":'1128', "age":30}
print(dic)
print(type(dic))

{'name': '홍길동', 'birth': '1128', 'age': 30}
<class 'dict'>

### 4. 딕셔너리 값 추출1
- 딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제해 보자.
- a = {'A':90, 'B':80, 'C':70}

In [13]:
a = {'A':90, 'B':80, 'C':70}
if 'B' in a:
    del a['B']
print(a)

result = a.pop('A')
print(result)
print(a)

{'A': 90, 'C': 70}
90
{'C': 70}

### 5. 딕셔너리 값 추출2
- 다음은 딕셔너리의 a에서 'C'라는 key에 해당되는 value를 출력하는 프로그램이다.
-  a = {'A':90, 'B':80}
   a['C']
- a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생하게 된다. 'C'에 해당되는 키값이 없을 경우 오류 대신 70을 리턴하도록 수정해 보자.

In [15]:
a = {'A':90, 'B':80}

a.get('C', 70) ## C에 해당하는 key 가 없다면 default로 설정가능

70

### 6. 딕셔너리 최소값
- a = {'A':90, 'B':80, 'C':70}, 딕셔너리 a의 value중에서 최소 값을 출력하시오.

In [19]:
a = {'A':90, 'B':80, 'C':70}
result = min(a.values())
print(result)

a.values()

70

dict_values([90, 80, 70])

### 7. 딕셔너리 리스트 변환 
- a = {'A':90, 'B':80, 'C':70} -> [('A', 90), ('B', 80), ('C', 70)]

In [26]:
a = {'A':90, 'B':80, 'C':70}
res = list(a.items())
res.sort()
print(res)

[('A', 90), ('B', 80), ('C', 70)]