### 1. 조건문1
- 홍길동씨는 택시를 타고 목적지까지 가려고 한다. 목적지까지 가기 위해서는 카드를 소유하고 있거나 4,000원의 택시요금이 필요하다고 한다. 홍길동씨는 택시를 탈 수 있는지를 판별할 수 있는 조건식을 작성하고 그 결과를 출력하시오.

In [2]:
money = 5000
card = False
if money >= 4000 or card:
    print("택시 탈 수 있다")
else:
    print("택시 탈 수 없다")

택시 탈 수 있다

### 2. 조건문2
- 홍길동씨의 행운권 번호는 23번 이라고 한다. 다음은 행운권 당첨번호 리스트이다.
- lucky_list = [1, 9, 23, 46]
- 홍길동씨가 당첨되었다면 “야호”라는 문자열을 출력하는 프로그램을 작성하시오.

In [7]:
lucky_list = [1, 9, 23, 46]
num = 23

if num in lucky_list:
    print("야호")
else:
    print('none')

야호

### 3. 홀수 짝수 판별
- 주어진 수가 짝수인지 홀수인지 판별하는 프로그램을 작성하시오.

In [9]:
num = 5
if num % 2 == 0:
    print("짝수")
else: 
    print("홀수")

홀수

### 4.문자열 분석
- 다음 문자열을 분석하여 나이가 30미만이고 키가 175이상인 경우에는 YES를 출력하고 아닌 경우에는 NO를 출력하는 프로그램을 작성하시오.
- 나이:30,키:180

In [11]:
person = {"나이":30,"키":180}

if person.get("나이") < 30 and person.get("키") > 175:
    print("YES")
else: 
    print("NO")

NO

### 5. 1부터 100까지 더하기
- 1부터 100까지의 자연수를 모두 더하고 그 결과를 출력하시오.

In [28]:
a = 0
sum = 0

while a < 101:
    sum += a
    a += 1 
    
print(sum)

5050

### 6. 3의 배수의 합
- 1부터 1000까지의 자연수 중 3의 배수의 합을 구하시오.

In [20]:
a = 0
sum = 0

while a <= 1000:
    if a % 3 == 0:
        sum += a
    a += 1
        
print(sum)

166833

### 7. 50점 이상의 총합
- 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상의 점수들의 총합을 구하시오.
- A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

In [23]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
score = 0

## 방법 1
for a in A:
    if a > 50:
        score += a
print(score)
    
## 방법 2
total = 0
while A:
    student = A.pop() ## A리스트의 마지막 항목 꺼내기
    if student > 50:
        total += student
print(total)

481
481

### 8. 별 표시하기1
- while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해 보자.

In [24]:
star = "*"
a = 0

while a < 5:
    a += 1
    print(star * a)

*
**
***
****
*****

### 9. 별 표시하기2

In [25]:
star = 7
s = 0

while star > 0:
    print(' '* s + "*" * star +' ' * s)
    s += 1
    star -= 2

*******
 *****
  ***
   *

### 10. 1부터 100까지 출력 - for

### 11. 5의 배수 총합

In [36]:
sum = 0 

for i in range(1,101):
    sum += i

print(sum)

for i in range(1,101):
    print(i , end = " ")

5050
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [32]:
sum = 0

for i in range(1, 1001):
    if i % 5 == 0:
        sum += i

print(sum)

100500

### 12. 학급의 평균 점수
- A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [37]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0

for i in A:
    sum += i

print(sum/len(A))

79.0

### 13. 혈액형
- ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
- for 문을 이용하여 각 혈액형 별 학생수의 합계를 구하시오.

In [40]:
blood = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
result = {}

for btype in blood:
    if btype in result: # 키가 존재하면 기존값에 더함
        result[btype] += 1
    else:
        result[btype] = 1 # 키가 존재하지 않는 다면 생성

print(result)

{'A': 3, 'B': 3, 'O': 3, 'AB': 3}

### 14. 리스트 내포1
- 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음과 같은 코드가 있다.
- 위 코드를 리스트 내포(list comprehension)를 이용하여 표현하시오.

In [48]:
numbers = [1, 2, 3, 4, 5]
result = []

result = [i * 2 for i in numbers if i % 2 == 1 ]
print(result)

[2, 6, 10]

### 15. 리스트 내포2
- 리스트 내포를 이용하여 다음 문장에서 모음('aeiou')을 제거하시오.
- Life is too short, you need python

In [47]:
arr = list("Life is too short, you need python")
arr = [i for i in arr if i not in 'aeiou']
print(arr)

print("".join(map(str, arr)))

['L', 'f', ' ', 's', ' ', 't', ' ', 's', 'h', 'r', 't', ',', ' ', 'y', ' ', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'n']
Lf s t shrt, y nd pythn